

@model CheckoutViewModel

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSLTD</title>

    <link rel="shortcut icon" href="~/assets/img/D_96x.png" type="image/png">

    <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0054/9450/5546/files/DSTLD-logo-white.jpg?v=1642204996">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0054/9450/5546/files/DSTLD-logo-white.jpg?v=1642204996">
    <meta property="og:image:width" content="1080">
    <meta property="og:image:height" content="566">

    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/fontawesome.min.css"
          integrity="sha512-8Vtie9oRR62i7vkmVUISvuwOeipGv8Jd+Sur/ORKDD5JiLgTGeBSkI3ISOhc730VGvA5VVQPwKIKlmi+zMZ71w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/regular.min.css"
          integrity="sha512-sWLOh8QiEOmwfP3jd0n7AneUOa6XKif5g8GU8FqdFMIbr6rYBt1PKWBp/Wv4E6PQ6N9lFtVAndujl9HbniDTog=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/solid.min.css"
          integrity="sha512-6/gTF62BJ06BajySRzTm7i8N2ZZ6StspU9uVWDdoBiuuNu5rs1a8VwiJ7skCz2BcvhpipLKfFerXkuzs+npeKA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/svg-with-js.min.css"
          integrity="sha512-T22AGZA32A7BJVwM85+3QTgGxP7lSHb88UwE3b19YtWs0mw6x27Pw5ea/60BQkcKO4vzzsXW230pxPdw6TthGQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Animate Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <!-- Css -->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>

    <main>
        <section id="information" class="main">
            <div class="row">
                @if (Model.basketItemsVM.Count == 0)
                {
                    <div class="product-side col-lg-12" style="display: flex; justify-content: center; align-items: center;height:100vh;">
                        <div class="products">
                            <div class="product-box d-flex flex-column align-items-center" style="width:100%;">
                                <div class="accordion" id="accordionExample">
                                    Your Basket is Null.
                                </div>
                                <div class="product-all-items">
                                    Your Basket is Null.
                                </div>
                                <a asp-action="index" asp-controller="home" class="btn btn-black-white p-1" style="width:155px;">Return Products</a>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="row">
                        <div class="super-title col-lg-12">
                            <a asp-action="index" asp-controller="home" class="logo">
                                <img src="~/assets/img/DSTLD_logo_horizontal_new2_x100.png" alt="">
                            </a>
                        </div>
                    </div><div class="road-map row">
                        <div class="super-title">
                            <ul>
                                <li>
                                    <a asp-action="index" asp-controller="cart">Cart</a> <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="" class="active">Information</a> 
                                </li>
                                @*<li>
                                    <a href="">Shipping</a> <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="">Payment</a> <i class="fas fa-angle-right"></i>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                <div class="order-side col-lg-6">
                        <div class="contact">
                            <div class="contact-box">
                                <div class="contact-information row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                        <h3>Contact information</h3>
                                    </div>
                                    <div class="login col-lg-6 col-md-6 col-sm-6 col-12">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <span>
                                               Hello, @User.Identity.Name
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                Already have an account? <a asp-action="login" asp-controller="account">Log in</a>
                                            </span>
                                        }
                                    </div>
                                </div>

                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-floating">
                                                <input asp-for="Email" class="form-control text-input" value="@Model.Email" placeholder="email">
                                                <label asp-for="Email">Email</label>
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>

                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <div class="form-check">
                                                    <input asp-for="IsSubscribe" class="form-check-input" checked>
                                                    <label asp-for="IsSubscribe" class="form-check-label">
                                                        Email me with news and offers
                                                    </label>
                                                </div>
                                            }
                                            
                                            

                                            <div class="shipping-address">
                                                <h3>Shipping address</h3>

                                                <div class="form-floating">
                                                    <input asp-for="FullName" class="form-control text-input" value="@Model.FullName" placeholder="FullName">
                                                    <label asp-for="FullName">FullName</label>
                                                    <span class="text-danger" asp-validation-for="FullName"></span>
                                                </div>

                                                <div class="form-floating">
                                                    <input asp-for="Addresses" class="form-control text-input" value="@Model.Addresses" placeholder="Address">
                                                    <label asp-for="Addresses">Address</label>
                                                    <span class="text-danger" asp-validation-for="Addresses"></span>
                                                </div>

                                                <!-- <div class="row info">
            <span>  <i class="fas fa-info"></i> Add a house number if you have one</span>
        </div> -->

                                                <div class="form-floating">
                                                    <input asp-for="Aparment" class="form-control text-input" placeholder="Apartment, suite, etc. (optional)">
                                                    <label asp-for="Aparment">Apartment, suite, etc. (optional)</label>
                                                    <span class="text-danger" asp-validation-for="Aparment"></span>
                                                </div>

                                                <div class="form-floating">
                                                    <input asp-for="City" class="form-control text-input" value="@Model.City" placeholder="City">
                                                    <label asp-for="City">City</label>
                                                    <span class="text-danger" asp-validation-for="City"></span>
                                                </div>


                                                <div class="form-group row d-flex">
                                                    <div class="region col-lg-4 my-2">
                                                        <div class="form-floating select-btn m-0">
                                                            <label asp-for="Country">Region</label>
                                                            <select asp-for="Country" class="form-select">
                                                                <option selected>United States</option>
                                                            </select>
                                                            <span class="text-danger" asp-validation-for="Country"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 my-2">
                                                        <div class="form-floating select-btn m-0">
                                                            <label asp-for="State">State</label>
                                                            <select asp-for="State" class="form-select">
                                                                <option selected>Alabama</option>
                                                                <option>Alaska</option>
                                                                <option>California</option>
                                                                <option>Colorado</option>
                                                                <option>Florida</option>
                                                                <option>Lowa</option>
                                                            </select>
                                                            <span class="text-danger" asp-validation-for="State"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 zip-code">
                                                        <div class="form-floating m-0">
                                                            <input asp-for="ZipCode" class="form-control text-input" value="@Model.ZipCode" placeholder="Zipcode">
                                                            <label asp-for="ZipCode">ZipCode</label>
                                                            <span class="text-danger" asp-validation-for="ZipCode"></span>
                                                        </div>

                                                    </div>
                                                </div>


                                                <div class="phone form-floating">
                                                    <input asp-for="Phone" class="form-control text-input" value="@Model.Phone" placeholder="Phone (optional)">
                                                    <label asp-for="Phone">Phone (optional)</label>
                                                    <i class="fa-solid fa-circle-question tooltip-man">
                                                        <span class="tooltiptext-man">In case we need to contact you about your order</span>
                                                    </i>
                                                    <span class="text-danger" asp-validation-for="Phone"></span>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Continue to shipping</button>
                                            <a asp-action="index" asp-controller="cart" class="return-cart">Return to cart</a>
                                        </div>
                                    </div>
                                </form>
                                <ul class="policy">
                                    <li>
                                        @foreach (var item in Model.Policies)
                                        {
                                            <a href="" data-bs-toggle="modal" data-bs-target="#PolicyModal" data-id="@item.Id">@item.Name</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="product-side col-lg-6">
                        <div class="products">
                            <div class="product-box">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-10 col-10">
                                                        <i class="fas fa-shopping-basket"></i> <span>Show order summary <i class="fas fa-angle-down"></i> </span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-2 col-2 d-flex justify-content-end">
                                                        <span>$@Model.TotalAmount.ToString("#.00")</span>
                                                    </div>
                                                </div>
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="item product-items row">
                                                @foreach (var item in Model.basketItemsVM)
                                                {
                                                    <div class="product-item col-lg-12 col-md-12 col-sm-12 col-12">

                                                        <div class="row">
                                                            <div class="product-image col-lg-2 col-md-2 col-sm-2 col-2">
                                                                <img src="~/uploads/products/@item.PosterImage" alt="">
                                                                <div class="circle">
                                                                    <span>@item.Count</span>
                                                                </div>
                                                            </div>
                                                            <div class="product-about col-lg-8 col-md-8 col-sm-8 col-8">
                                                                <span class="product-name">@item.Name</span>
                                                                <span class="size">@item.SizeName</span>
                                                            </div>
                                                            <div class="product-price col-lg-2 col-md-2 col-sm-2 col-2 d-flex justify-content-end">
                                                                @if (item.Discount > 0)
                                                                {
                                                                    <span class="red-text text-line font-12">
                                                                        @(item.Price.ToString("#.00"))
                                                                    </span>

                                                                    <span class="font-12 ps-2">
                                                                        @(item.SalePrice.ToString("#.00"))
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="font-12 ps-2">
                                                                        @item.Price.ToString("#.00")
                                                                    </span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="item row">
                                                <form method="get">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control text-input" name="giftCode" id="gift" value="@ViewBag.GiftCode" placeholder="Gift card or discount code">
                                                                <label for="gift">Gift</label>
                                                                <span class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="button-side col-lg-4 col-md-4 col-sm-4 col-4">
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="item row">
                                                <div class="shipping col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                            <h4>Subtotal</h4>
                                                        </div>
                                                        <div class="price-black col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                            <span> $@Model.TotalAmount.ToString("#.00")</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                            <h4>
                                                                Shipping <i class="fa-solid fa-circle-question"></i>
                                                            </h4>
                                                        </div>
                                                        <div class="free col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                            <span>Free</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row py-3">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                    <span>Total</span>
                                                </div>
                                                <div class="price-side col-lg-6 col-md-6 col-sm-6 col-6 p-0">
                                                    <span>USD <span class="price-black"> $@Model.TotalAmount.ToString("#.00")</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-all-items">
                                    <div class="item product-items row">
                                        @foreach (var item in Model.basketItemsVM)
                                        {
                                            <div class="product-item col-lg-12 col-md-12 col-sm-12 col-12">
                                                <div class="row">
                                                    <div class="product-image col-lg-2 col-md-2 col-sm-2 col-2">
                                                        <img src="~/uploads/products/@item.PosterImage" alt="">
                                                        <div class="circle">
                                                            <span>@item.Count</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-about col-lg-8 col-md-8 col-sm-8 col-8">
                                                        <span class="product-name">@item.Name</span>
                                                        <span class="size">@item.SizeName</span>
                                                    </div>
                                                    <div class="product-price col-lg-2 col-md-2 col-sm-2 col-2 d-flex justify-content-end">
                                                        @if (item.Discount > 0)
                                                        {
                                                            <span class="red-text text-line font-12">
                                                                @(item.Price.ToString("#.00"))
                                                            </span>

                                                            <span class="font-12 ps-2">
                                                                @(item.SalePrice.ToString("#.00"))
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-12 ps-2">
                                                                @item.Price.ToString("#.00")
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="item row">
                                        <form method="get">
                                            <div class="row">
                                                <div class="col-lg-8 p-0">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control text-input" name="giftCode" id="gift" value="@ViewBag.GiftCode" placeholder="Gift card or discount code">
                                                        <label for="gift">Gift</label>
                                                    </div>
                                                </div>
                                                <div class="button-side col-lg-4 p-0">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        </form>
                                    </div>
                                    <div class="item row">
                                        <div class="shipping col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6 p-0">
                                                    <h4>Subtotal</h4>
                                                </div>
                                                <div class="price-black col-lg-6 p-0">
                                                    <span> $@Model.TotalAmount.ToString("#.00") </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 p-0">
                                                    <h4>
                                                        Shipping <i class="fa-solid fa-circle-question"></i>
                                                    </h4>
                                                </div>
                                                <div class="free col-lg-6 p-0">
                                                    <span>Free</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 p-0">
                                            <span>Total</span>
                                        </div>
                                        <div class="price-side col-lg-6 p-0">
                                            <span>USD <span class="price-black"> $@Model.TotalAmount.ToString("#.00") </span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </main>


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" >
        Launch demo modal
    </button> -->
    <!-- Modal -->
    <div class="modal fade" id="PolicyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    
            </div>
        </div>
    </div>

    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Jquery Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/   jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Js -->
    <script src="~/assets/js/information/information.js"></script>
    <script src="~/assets/js/checkout/checkout.js"></script>

</body>
</html>
